*{
    margin: 0;
    padding: 0;
    /* it means no gad in the page between two elemennts */
}
html,body{
    height: 100%;     
    /* it means full screen */
    width: 100%;
}

/* if take  width=50% ,it means that h1 will take its pareent 50% wwidt,here h1 parents is body */
h1{
    color: rgb(154, 135, 121);text-align: center;font-family: 'Gill Sans';background-color: seagreen;;
}

body{
    background-color: rgb(118, 83, 188); 
    
}

#box1{
    background-color: rgb(237, 236, 240); 
    width: 40%;
    height: 40%;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
   
}
#box2
{ 
    display: flex;
    background-color: rgb(189, 60, 69); 
    width: 40%;
    height: 40%;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
   

}

#box1, #box2{
    display: inline-block; 
    vertical-align: top;   

}
.p1{
    color :green;
}


